
html {
  scroll-behavior: smooth;
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; */
}
.add-height {
  height: 100vh;
  margin: 0.25em;
}
.overflow {
  overflow: hidden;
}
p {
  text-align: justify;
}
ul {
  list-style: none;
}
.uppercase {
  text-transform: uppercase;
}
a {
  color: black;
  text-decoration: none;
  text-align: center;
  /* width: 100%;
  height: 100%; */
}
section {
  min-height: 100vh;
}
/* nav */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-block: 0.5em;
  backdrop-filter: blur(5px);
  background-color: rgba(249, 250, 251, 0.8);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.logo {
  height: 50px;
  width: 50px;
  margin-left: 5em;
}
img {
  /* width: 100%; */
  height: 100%;
  object-fit: cover;
  object-fit: center;
  aspect-ratio: 1/1;
  border-radius: 100%;
}

.home {
  margin-top: 100px;
  padding-block: 2em;
}
.hamburger-line,
.hamburger-line::before {
  display: none;
}

nav ul {
  display: flex;
  align-items: center;
  margin-inline: auto 1em;
  transition: all 0.2s;
}
nav li:hover {
  transform: scale(1.2);
}
nav li {
  margin-left: 2em;
  font-weight: bold;
  transition: all 0.5s;
  border-radius: 5px;
  text-transform: capitalize;
  cursor: pointer;
}
nav li a {
  display: block;
  padding: 1em;
}
nav li:hover {
  background-color: grey;
}

/* .home */

.home {
  display: flex;
  width: 70%;
  /* background-color: red; */
  margin-inline: auto;
  justify-content: center;
}
.home .picture {
  width: 450px;
  height: 450px;
  aspect-ratio: 1/1;
}
.home img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
/* .home .left {
  padding-right: 2em;
} */
.home .right {
  width: 50%;
  max-width: 500px;
  padding-left: 0.5em;
  /* background-color: red; */
}
.top {
  padding-block: 0.25em;
  display: grid;
  place-items: center;
}
.home .name {
  font-size: 2.25rem;
  font-weight: bolder;
}
.home .work {
  font-family: "Poppins", sans-serif;

  font-size: 6rem;
  font-weight: 700;
  line-height: 1.1em;
  margin-bottom: 0.5em;
}
.home .work span {
  font-family: "Poppins", sans-serif;
  /* display: block; */
}
p {
  line-height: 2em;
  color: rgb(31, 41, 55);
}
.projects-wrapper {
  background-color: black;
}
.projects {
  background-image: url('download.jpeg'); 
  background-repeat: no-repeat;
  background-position-y: -20%;
  background-position-x: top; 

  color: rgb(218, 218, 218);
  width: 90%;
  padding: 3em 1em;
  margin-inline: auto;
}
.project-wrapper {
  padding-block: 2em 1em;

  border-bottom: 2px solid grey;
}

.hero-title {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  padding-block: 0em;
}
.project,
.blog,
.about-me > div {
  display: flex;

  width: 90%;
  margin-inline: auto;
  padding: 0em;
}
.left,
.right {
  margin-inline: 0.5em;
}
.left {
  width: 30%;
  /* background-color: white;
  color: red; */
}
.right {
  width: 60%;
  /* background-color: white;
  color: red; */
}
.takeaways {
  list-style: square;
  margin-left: 1em;
}
.takeaways li {
  margin-block: 0.5em;
}

.project button,
.project .button,
.blog .button,
.about-me button {
  padding: 1em 0.75em;
  color: black;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  width: 90%;
  width: 220px;
  display: block;
  text-transform: uppercase;
  margin-block: 1em;
  margin-inline: auto;

  transition: all 0.25s;
}
.project button:hover,
.blog .button:hover,
.about-me button:hover,
.project .button:hover {
  background-color: rgb(229, 226, 226);
  transform: scale(0.9);
}
.project button:active,
.blog .button:active,
.about-me button:active,
.project .button:active {
  transform: scale(0.75);
}
.project .title,
.blog .title,
.about-me .title {
  padding: 0;
  margin-block: 1em;
}
.project p {
  color: rgb(218, 218, 218);
}
.project p,
.blog p {
  /* padding: 0.5em;
  padding-left: 0; */
}

.blog-posts button {
  background-color: #2a2e37;
  color: white;
}
.blog-posts button:hover {
  background-color: #2a2e37;
}
.blog {
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px dotted grey;
}
.about-me {
  background-color: black;
  color: white;
}
.about-me * {
  color: white;
}
.about-me .picture {
  width: 90%;
  margin-inline: auto;
  aspect-ratio: 1/1;
}
.picture img {
  width: 100%;
}
/* .about-me button {
  width: 50%;
} */
.about {
  justify-content: space-between;
}
footer {
  max-width: 90%;
  margin-inline: auto;
  padding-bottom: 1em;
}
footer > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .left {
  width: 40%;
}
footer .right {
  width: 30%;
}
footer h2 {
  /* text-align: center; */
}
footer .des {
  padding: 0em;
  padding-left: 0;
}
div.socials {
  margin-inline: auto;
}
div.socials h4 {
  text-transform: capitalize;
  font-size: 2em;
  margin-bottom: 1em;
}
footer .copyright {
  margin-block: 2em;
  text-align: center;
  display: block;
}
footer ul {
  display: flex;
}
footer li {
  margin-inline-end: 1em;
}
footer .socials {
  margin-bottom: 2em;
}
.icon {
  font-size: 2rem;
}
#contact {
  display: flex;
  align-items: center;
  font-size: 1rem;
}
#contact i {
  font-size: 1rem;
  margin-right: 0.5em;
}
a[href*="mailto"] {
  text-decoration: underline;
}
#tech {
  margin-block: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: black;
}
#tech li {
  width: 100px;
  height: 100px;
}
#tech img {
  border-radius: none;
}

@media (max-width: 1270px) {
  .home {
    width: 95%;
  }
  .projects {
    width: 95%;
  }
  .right {
    width: 70%;
  }
}

@media (max-width: 1024px) {
  .home .picture {
    width: 300px;
    height: 300px;
    aspect-ratio: 1/1;
  }
  .about-me button {
    width: 100%;
  }
  .home .name {
    font-size: 1.75em;
  }
  /* .home .work {
    font-size: 4rem;
  }
  .hero-title {
    font-size: 2rem;
  } */
}
@media (max-width: 920px) {
  .right,
  .left {
    width: 100%;
  }
  .logo {
    margin: 0;
  }
  .bottom-pic {
    margin-inline: auto;
    max-width: 230px;
  }
  .project,
  .blog,
  .about-me > div {
    flex-wrap: wrap;
    width: 100%;
    margin-inline: auto;
    justify-content: stretch;
  }
  .blog {
    flex-wrap: wrap-reverse;
  }
  .button-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .button-group button {
    margin-inline: 0.5em;
  }
  .projects {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  #tech {
    justify-content: space-around;
  }
}
@media (max-width: 768px) {
  .home {
    flex-wrap: wrap;
  }
  #tech li {
    margin: 1em;
  }
  nav li a {
    padding: 0.5em;
  }
  .home .right {
    margin-top: 2em;
    width: 100%;
    max-width: 100%;
  }
  .home .right {
    margin-bottom: 1em;
  }
  footer .left,
  .footer .right {
    width: 100%;
  }
  div.socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
  }
}
@media (max-width: 40px) {
  nav {
    justify-content: space-between;
    padding-inline: 0.5em;
  }
  .hamburger-line,
  .hamburger-line::before {
    display: block;
    /* display: none; */
  }
  nav ul {
    height: 0;
    width: 100%;
    flex-direction: column;
    justify-content: start;
    overflow: hidden;
  }
  nav ul li {
    margin: 0;
    margin-block: 1em;
  }
  nav {
    flex-direction: column;
  }
  nav div.top {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 430px) {
  .home .name {
    font-size: 1.75rem;
  }
  .home .work {
    font-size: 3rem;
  }
  .projects {
    padding-inline: 0.5em;
  }
}
@media (max-width: 376px) {
  /* .logo {
    margin-inline: auto;
  } */
  .hero-title {
    padding-block: 0.25em;
  }
  .button-group button {
    margin-inline: 0.25em;
  }
  .projects {
    width: 100%;
    padding: 0.5em;
  }
  .project,
  .blog,
  .about-me > div {
    padding: 0.5em;
  }
  footer > h3 {
    margin-bottom: 1em;
  }
  .project {
    padding: 0;
  }
  footer {
    text-align: center;
  }
  #tech li {
    width: 50px;
    height: 50px;
  }
}
.blog .button {
  margin-top: 2.5em;
  color: white !important;
  background-color: grey !important;
}

/* animation */

.animate {
  background-size: 300% 300%;
  background-color: #fb408f;
  background-image: linear-gradient(
    45deg,
    #1f2937 40%,
    #fb408f 60%,
    #fae937 75%,
    #1f2937
  );

  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -webkit-animation: gradient 4s 0s infinite normal ease both;
  animation: gradient 4s 0s infinite normal ease both;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
